<p>Witaj, <%= @order.user.email %>!</p>

<p>
  Otrzymaliśmy pieniądze za zamówienie nr <%= @order.id %>. Rozpoczynamy realizację niniejszego zamówienia.
  O wysyłce, poinformujemy Cię w następnej wiadomości.
</p>

<p>
Pozdrawiamy, BSC
</p>