<p>Witaj, <%= @resource.email %>!</p>

<p>Ktoś zarządał linku do strony zmiany Twojego hasła. Mozesz to zrobić korzystając odnośnika ponizej.</p>

<p><%= link_to 'Zmień moje hasło',
  "#{ENV['FRONTEND_HOST']}/password-reset?token=#{@resource.reset_password_token}" %></p>

<p>Jezeli nie chcesz zmieniać hasła, zignoruj tą wiadomość.</p>
<p>Twoje hasło nie ulegnie zmianie dopóki nie skorzystasz z linku powyzej i nie stworzysz nowego</p>